**/venv
venv/
**/node_modules
node_modules/
__pycache__/
*.py[cod]
*.pyo
staticfiles/
*.egg-info/
build/
dist/
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/
coverage.xml
Dockerfile*
docker-compose.yml
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
REACT/booking-frontend/build/
