**/__pycache__/
**/*.py[cod]
*.sqlite3
*.log
*.env
.env
.env.production
staticfiles
DRF/staticfiles/
DRF/venv/
REACT/booking-frontend/node_modules/
REACT/booking-frontend/build/
REACT/booking-frontend/staticfiles/
COPY REACT/booking-frontend/.env.production
.DS_Store
Thumbs.db
.vscode/
.idea/
.coverage
htmlcov/
.pytest_cache/
*.pid
*.sock
*.swp
certbot/